label {
  font-weight: 600;
}
  
.card-content {
  margin-bottom: 20px;
}
  
input,
textarea {
  margin: 1em 0;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  resize: none;
}
  
textarea {
  height: 300px;
}
  
.img-file-input {
  border: none;
}
.title-input, .text-input {
  width: 70%;
}