.topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;  
    border-bottom: #ccc 1px solid;
    min-height: 60px;
    z-index: 999;
  }
  
  .topbar nav {
    flex: 1; /* Make the nav element flexible to take up remaining space */
    margin: 0 1rem 0 0;
  }
  .search{
    flex: 1;
    margin: 0 20px;
  }
  .topbar nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .home-link{
    margin-left: 1em;
  }
  .search input[type="search"] {
    width: 300px;
    padding: 7px; 
    border: 1px solid #ccc; 
    border-radius: 10px; /* Border radius */
    font-size: 16px; /* Font size */
  }
  .search input[type="search"]:focus {
    outline: none; /* Remove focus outline */
    border-color: #007bff; /* Border color when focused */
  }
  .link {
    white-space: nowrap; /* Prevent the link from wrapping onto multiple lines */
    font-size: 1em; /* Adjust font size if necessary */
  }


  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.87);
  background-color: #242424;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: rgba(255, 255, 255, 0.87);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #242424;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(25px);
  background-color: rgba(255, 255, 255, 0.87);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-point {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px solid #242424; 
  border-radius: 8px;
  right: 0;
  width: 100px;
}

.dropdown .dropdown-point span{
  color: #242424; /* Light text */
  margin: 1em 0;
  margin-right: 0px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-weight: 600;
}

.dropdown:hover .dropdown-point {
  display: block;
}

.dark .dropdown .dropdown-point {
  background-color: #242424; 
  border: 1px solid rgba(255, 255, 255, 0.87); 
}
.dark .dropdown .dropdown-point span {
  color: rgba(255, 255, 255, 0.87);
}


.leftbar-slide {
  transition: transform 0.6s ease; 
}

@media screen and (max-width: 690px) {
  .search input[type="text"],  .create-post-link  {
    display: none;
  }
  .create-post-link {
    margin-left: 0px;
  }
  .whole-page{
    margin-top: 2em;
  }
}
@media screen and (min-width: 901px) {
  .menubar {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .leftbar-container {
    display: none;
  }
  .home-link {
    margin-left: 0;
  }
}