/* .login-card{
    border-radius: 15px;
    border: 1px solid #242424; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: auto;
    max-width: 400px;
} */


.login-card{
    height: auto;
    border: 1px solid #242424; 
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
}

.buttons{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	height: 50px;
	float: left;
}
.buttons .btn{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	width: 50%;
	cursor: pointer;
}


#chbox:checked ~ .SignUp_form{
	display: flex;
}

#chbox:checked ~ .login_form{
	display: none;
}

#chbox:checked + .layer{
	left: 50%;
}
#chbox:checked ~ .layer2{
	left: 50%;
}
#chbox{
	display: none;
}

.google-button {
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
    justify-content: center;
}

.login-container .login_form{
	display: flex;
	flex-direction: column;
    margin: 2em 0;
}

.login-container .login_form input{
    margin: 0;
    width: 250px;
}

.login-container .SignUp_form{
	display: none;
	flex-direction: column;
    margin: 2em 0;
}

.login-container .SignUp_form input{
	margin: 0;
    width: 250px;
}

.buttons .btn.inactive {
    transition: background-color 0.3s ease;
}

.buttons .btn.inactive.login {
    color: var(--background-color);
    background-color: var(--color);
    border-top-left-radius: 12px;
}

.buttons .btn.inactive.SignUp {
    color: var(--background-color);
    background-color: var(--color);
    border-top-right-radius: 12px;
}

.dark .buttons .btn.inactive {
    background-color: var(--background-color);
}

.dark .buttons .btn.inactive span {
    color: var(--color);
}