.post-info-card{
    border-radius: 15px;
    padding: 40px;
    max-width: 800px;
    margin: auto;
    padding: 2em 0;
}
.container {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Align the items to the left and right */

}
.like-container {
    display: flex; /* Use flexbox */
   
}
.post-contents{
    text-align: left;
}

.like-icon {
    margin-right: 10px; /* Add some space between the icon and the likes count */
    margin-bottom: 5px;
}

.edit-delete-container{
    margin-top: 13px;
}
.edit-delete-container img {
    margin-right: 10px;
}
.comment-section {
    margin: 2em 0;
}

.like-icon{
    cursor: pointer;
}
.comment-button {
    margin-left: 20px;
}

.comment {
    text-align: left; 
    margin-bottom: 2em;
}

.above-comment, .comment-like {
    font-size: 0.7em;
    color:#4a4a4a;
    font-weight: 700;
    display: flex;
}

.comment-date {
    margin-left: 10%;
}

.dark .comment-like {
    color: rgba(255, 255, 255, 0.87);
}
